@import "tailwindcss";

/* Configuração de cores personalizadas no Tailwind v4 */
@theme {
  --color-brand-dark: #0d0d12;
  --color-brand-accent: #dcf836;
  --color-brand-gray: #1a1a24;
}

body {
  background-color: var(--color-brand-dark);
  color: white;
}